body{
    font-family: sans-serif;
    background-color: lightgray;
    text-align: left;
}

h2{
    text-decoration: underline;
}

#titulo{
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
    width: 40%;
    text-align: center;
}

#foto{
    float:right;
}

.bloque1{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    width: 40%; 
}

.bloque2{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 1%;
    width: 40%;
}

.bloque3{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 1%;
    width: 40%;
}

.bloque4{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 1%;
    width: 40%;
}




